Adafruit-DHT==1.4.0
Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.9
board==1.0
certifi==2021.10.8
charset-normalizer==2.0.7
decorator==4.4.2
idna==3.3
imageio==2.10.1
imageio-ffmpeg==0.4.5
mock==4.0.3
moviepy==1.0.3
numpy==1.21.3
picamera==1.13
Pillow==8.4.0
pkg-resources==0.0.0
proglog==0.1.9
python-tsl2591==0.2.0
requests==2.26.0
RPi.bme280==0.2.3
RPi.GPIO==0.7.0
smbus2==0.4.1
spidev==3.5
tqdm==4.62.3
urllib3==1.26.7